.input:focus {
}

.input {
    border-radius: 5px;
    padding: 10px;
    width: 372px;
    height: 36px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color);
    background-color: var(--background);
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 53px;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    outline: 0;
    border: 1px solid #CC1439;
}

.errorInput:focus {
}

.error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #CC1439;
    margin-bottom: 5px;
}
