.spanBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
    margin-right: 14px;
}

.input {
    width: 276px;
}

.pen {
}