.App {
    --header_height: 60px;
    margin: 0 auto;
}

.hw {
    position: relative;
    padding: 25px 5rem;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 30px 0 10px;
    padding: 0 5rem;
}

.hw::after {
    background: #dce1e4;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
}

.hw::before {
    background: #dce1e4;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 500px) {
    .hw {
        padding: 25px 2rem;
    }
    .hwTitle {
        padding: 0 2rem;
    }
}